[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
psycopg2 = "*"
autopep8 = "*"

[packages]
requests = "*"
xmltodict = "*"
pymongo = {extras = ["srv"],version = "*"}
sqlalchemy = "*"
geoalchemy2 = "*"
psycopg2-binary = "*"
pytz = "*"
flask = "*"
flask-restful = "*"
flask-marshmallow = "*"
shapely-geojson = "*"
flask_sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
gunicorn = "*"
python-dotenv = "*"
flask-cors = "*"

[requires]
python_version = "*"

[scripts]
loader = "python3 src/loader.py"
